# University Course Timetabling with Simulated Annealing

This notebook demonstrates the use of **Simulated Annealing (SA)** for solving the university course timetabling problem - a complex constraint satisfaction problem (CSP).

## What is Simulated Annealing?

Simulated Annealing is a probabilistic optimization technique inspired by the annealing process in metallurgy. It's particularly effective for:
- Large combinatorial optimization problems
- Problems with many local optima
- Constraint satisfaction problems

## Key Features of this Implementation

- **Multi-phase optimization**: First eliminate hard constraint violations, then optimize soft constraints
- **Tabu Search**: Prevents cycling back to recently visited solutions
- **Intensification phase**: Targeted search for remaining hard violations
- **Reheating**: Periodically increases temperature to escape local optima
- **Multiple move operators**: Diversified search strategies

## Problem Constraints

### Hard Constraints (must be satisfied)
- No room conflicts (one class per room at a time)
- No lecturer conflicts (one lecturer teaching at a time)
- No class conflicts (no overlapping classes for same program)
- Room capacity must accommodate class size
- Friday prayer time restrictions
- Class type time matching (morning classes in morning slots)

### Soft Constraints (optimization goals)
- Schedule compactness (minimize gaps)
- Preferred room/time assignments
- Research day preferences
- Minimize prayer time overlaps
- Proper room type usage

## 1. Setup and Imports

First, we install the package in development mode and import all necessary modules.

In [29]:
# Install package in development mode
%pip install pip install git+https://github.com/albertabayor/timetable-sa.git@feature/python-port#egg=timetable-sa&subdirectory=python


# Import standard libraries
import sys
import copy
import json
import random
import time as time_python

# Import pandas for data display
import pandas as pd

# Core framework
from timetable_sa import SimulatedAnnealing, SAConfig
from timetable_sa.core.interfaces.config import LoggingConfig

# Domain types
from timetable_sa.examples.timetabling.domain_types.domain import (
    Room, Lecturer, TimeSlot, ClassRequirement
)
from timetable_sa.examples.timetabling.domain_types.state import (
    ScheduleEntry, TimetableState
)

# All constraints and moves
from timetable_sa.examples.timetabling import (
    # Hard constraints
    NoRoomConflict, NoLecturerConflict, NoProdiConflict, RoomCapacity,
    MaxDailyPeriods, FridayTimeRestriction, NoFridayPrayConflict,
    PrayerTimeStart, ClassTypeTime, SaturdayRestriction,
    # Soft constraints
    Compactness, OverflowPenalty, PreferredRoom, PreferredTime,
    TransitTime, ResearchDay, PrayerTimeOverlap, EveningClassPriority,
    # Move generators
    ChangeTimeSlot, ChangeRoom, SwapClasses, ChangeTimeSlotAndRoom,
    FixRoomConflict, FixLecturerConflict, FixRoomCapacity,
    FixMaxDailyPeriods, FixFridayPrayerConflict, FixClassTypeTime,
    SwapFridayWithNonFriday,
)

# Utilities
from timetable_sa.examples.timetabling.utils.time import (
    time_to_minutes, calculate_end_time,
)
from timetable_sa.examples.timetabling.data.excel_loader import load_uisi_data

print("‚úÖ All imports successful!")

Note: you may need to restart the kernel to use updated packages.
‚úÖ All imports successful!

## 2. Configuration Parameters

Adjust these parameters to customize the optimization behavior.

In [25]:
# Data file path
EXCEL_DATA_PATH = "/home/emmanuelabayor/projects/timetable-sa/data_uisi.xlsx"

# SA Parameters
INITIAL_TEMPERATURE = 100000.0
MIN_TEMPERATURE = 0.0000001
COOLING_RATE = 0.9995
MAX_ITERATIONS = 100000

# Tabu Search (prevents cycling)
TABU_SEARCH_ENABLED = True
TABU_TENURE = 500  # Number of iterations to remember a state

# Reheating (helps escape local optima)
REHEATING_THRESHOLD = 2000  # Iterations without improvement before reheating
REHEATING_FACTOR = 2.0  # Temperature multiplier when reheating
MAX_REHEATS = 3  # Maximum number of reheating events

# Intensification (targeted search for hard violations)
ENABLE_INTENSIFICATION = True
INTENSIFICATION_ITERATIONS = 2000
MAX_INTENSIFICATION_ATTEMPTS = 3

# Set random seed for reproducibility
RANDOM_SEED = 42
random.seed(RANDOM_SEED)

print("‚öôÔ∏è  Configuration loaded!")
print(f"   Temperature: {INITIAL_TEMPERATURE} ‚Üí {MIN_TEMPERATURE}")
print(f"   Cooling rate: {COOLING_RATE}")
print(f"   Max iterations: {MAX_ITERATIONS}")
print(f"   Tabu search: {TABU_SEARCH_ENABLED} (tenure={TABU_TENURE})")

‚öôÔ∏è  Configuration loaded!
   Temperature: 100000.0 ‚Üí 1e-07
   Cooling rate: 0.9995
   Max iterations: 100000
   Tabu search: True (tenure=500)

## 3. Load Data from Excel

Load the university data including rooms, lecturers, and class requirements.

In [36]:
print("=" * 60)
print("University Course Timetabling - Jupyter Notebook")
print("=" * 60)

# Load data
rooms, lecturers, classes = load_uisi_data(EXCEL_DATA_PATH)

# Display summary
print(f"\nüìä Data Summary:")
print(f"   Rooms: {len(rooms)}")
print(f"   Lecturers: {len(lecturers)}")
print(f"   Classes: {len(classes)}")

# Display sample data
print(f"\nüè† Sample Rooms (first 5):")
df_rooms = pd.DataFrame([{
    'Code': r.code, 'Name': r.name, 'Type': r.type, 'Capacity': r.capacity
} for r in rooms[:5]])
display(df_rooms.style.hide(axis='index'))

print(f"\nüë®‚Äçüè´ Sample Lecturers (first 5):")
df_lecturers = pd.DataFrame([{
    'Code': l.code, 'Name': l.name, 'Prodi': l.prodi
} for l in lecturers[:5]])
display(df_lecturers.style.hide(axis='index'))

print(f"\nüìö Sample Classes (first 5):")
df_classes = pd.DataFrame([{
    'Code': c.kode_matakuliah, 'Name': c.mata_kuliah, 'Class': c.kelas,
    'SKS': c.sks, 'Participants': c.peserta
} for c in classes[:5]])
display(df_classes.style.hide(axis='index'))

============================================================
University Course Timetabling - Jupyter Notebook
============================================================

üìä Data Summary:
   Rooms: 33
   Lecturers: 99
   Classes: 373

üè† Sample Rooms (first 5):

üë®‚Äçüè´ Sample Lecturers (first 5):

üìö Sample Classes (first 5):

## 4. Generate Time Slots

Create time slots for morning (PAGI) and evening sessions. The university has specific time periods:
- **Morning (PAGI)**: 07:30 - 15:30
- **Evening**: 18:00 - 21:00 (only evening slots from SORE period)

In [41]:
# Import from library
from timetable_sa.examples.timetabling.utils.timeslot_generator import generate_ts_slots
from timetable_sa.examples.timetabling.utils.time import time_to_minutes

# Generate slots using library function
pagi_slots = generate_ts_slots("07:30", "15:30", 50)
sore_slots = generate_ts_slots("15:30", "21:00", 50)
evening_slots = [s for s in sore_slots if time_to_minutes(s.start_time) >= time_to_minutes("18:00")]
time_slots = pagi_slots + evening_slots

print(f"\n‚è∞ Time Slots Generated:")
print(f"   Morning (PAGI): {len(pagi_slots)} slots")
print(f"   Evening: {len(evening_slots)} slots")
print(f"   Total: {len(time_slots)} slots")

# Show sample time slots
print(f"\nüìÖ Sample Monday Time Slots:")
monday_slots = [s for s in time_slots if s.day == 'Monday'][:10]
for slot in monday_slots:
    print(f"   Period {slot.period}: {slot.start_time} - {slot.end_time}")

‚è∞ Time Slots Generated:
   Morning (PAGI): 54 slots
   Evening: 18 slots
   Total: 72 slots

üìÖ Sample Monday Time Slots:
   Period 1: 07:30 - 08:20
   Period 2: 08:20 - 09:10
   Period 3: 09:10 - 10:00
   Period 4: 10:00 - 10:50
   Period 5: 10:50 - 11:40
   Period 6: 11:40 - 12:30
   Period 7: 12:30 - 13:20
   Period 8: 13:20 - 14:10
   Period 9: 14:10 - 15:00
   Period 4: 18:00 - 18:50

## 5. Create Initial State

Use a greedy algorithm to create the initial timetable. This algorithm:
1. Shuffles classes for random placement order
2. For each class, finds suitable rooms based on capacity and lab requirements
3. Checks for conflicts (room, lecturer, prodi/class)
4. Places classes without conflicts

In [42]:
# Import from library
from timetable_sa.examples.timetabling.utils.initial_solution import create_greedy_initial_state_v2

print("\nüî® Creating Initial State (Greedy Algorithm)...")
state = create_greedy_initial_state_v2(classes, rooms, lecturers, time_slots, RANDOM_SEED)

print(f"   Schedule entries: {len(state.schedule)}")
print(f"   Available rooms: {len(state.rooms)}")
print(f"   Available lecturers: {len(state.lecturers)}")

# Show sample schedule entries
print(f"\nüìã Sample Schedule Entries (first 5):")
for entry in state.schedule[:5]:
    print(f"   {entry.class_id}: {entry.class_name}")
    print(f"      {entry.time_slot.day} {entry.time_slot.start_time}-{entry.time_slot.end_time}")
    print(f"      Room: {entry.room}, Lecturers: {entry.lecturers}")

üî® Creating Initial State (Greedy Algorithm)...
   Placed: 356/373
   Skipped: GS13TH46: No lecturers
   Skipped: GS13PW02: No lecturers
   Skipped: GS13IP12: No lecturers
   Skipped: CE11UT46: No lecturers
   Skipped: GS13PW02: No lecturers
   Skipped: AC135343: No lecturers
   Skipped: GS13CZ02: No lecturers
   Skipped: GS13CZ02: No lecturers
   Skipped: GS13IP12: No lecturers
   Skipped: GS13CZ02: No lecturers
   ... and 7 more
   No conflicts in initial state
   Schedule entries: 356
   Available rooms: 33
   Available lecturers: 99

üìã Sample Schedule Entries (first 5):
   VD13GB03: Gambar Bentuk
      Monday 07:30-10:00
      Room: G4-R2, Lecturers: ['MNR']
   IS13ST03: Pengantar Sistem & Teknologi Informasi
      Monday 07:30-10:00
      Room: CM-203, Lecturers: ['TKN']
   ET13EE13: EKONOMI TEKNIK
      Monday 07:30-10:00
      Room: CM-201, Lecturers: ['LKT']
   CE11TH23: Termodinamika Teknik Kimia 1
      Monday 07:30-10:00
      Room: CM-207, Lecturers: ['YNK']
   LE12AJ53: Manajemen Resiko dan Kinerja
      Monday 10:00-12:30
      Room: G4-R1, Lecturers: ['LKT']

## 6. Define Constraints

Constraints define the rules that a valid timetable must follow.

In [14]:
# Hard constraints (MUST be satisfied)
hard_constraints = [
    NoRoomConflict(),           # No two classes in same room at same time
    NoLecturerConflict(),       # No lecturer teaching two classes simultaneously
    NoProdiConflict(),          # No overlapping classes for same program
    RoomCapacity(),             # Room capacity must accommodate class size
    MaxDailyPeriods(),          # Limit classes per day
    FridayTimeRestriction(),    # Specific time restrictions for Friday
    NoFridayPrayConflict(),     # Avoid prayer times on Friday
    PrayerTimeStart(),          # Start times must avoid prayer periods
    ClassTypeTime(),            # Morning classes in pagi slots, evening in sore
    SaturdayRestriction(),      # Non-MM programs can't use Saturday
]

# Soft constraints (optimization goals)
soft_constraints = [
    Compactness(),              # Minimize gaps in schedule
    OverflowPenalty(),          # Penalty for using lab rooms for non-lab classes
    PreferredRoom(),            # Preference for specific rooms
    PreferredTime(),            # Preference for specific times
    TransitTime(),              # Minimize time between classes
    ResearchDay(),              # Preferred research days for lecturers
    PrayerTimeOverlap(),        # Avoid prayer time overlaps
    EveningClassPriority(),     # Prioritize evening classes in sore slots
]

all_constraints = hard_constraints + soft_constraints

print(f"\nüìã Constraints:")
print(f"   Hard: {len(hard_constraints)}")
for c in hard_constraints:
    print(f"      - {c.name}")
print(f"   Soft: {len(soft_constraints)}")
for c in soft_constraints:
    print(f"      - {c.name}")

üìã Constraints:
   Hard: 10
      - No Room Conflict
      - No Lecturer Conflict
      - No Prodi Conflict
      - Room Capacity
      - Max Daily Periods
      - Friday Time Restriction
      - No Friday Prayer Conflict
      - Prayer Time Start
      - Class Type Time
      - Saturday Restriction
   Soft: 8
      - Compactness
      - Overflow Penalty
      - Preferred Room
      - Preferred Time
      - Transit Time
      - Research Day
      - Prayer Time Overlap
      - Evening Class Priority

## 7. Define Move Generators

Move generators are operators that modify the current solution to explore the search space.

In [15]:
move_generators = [
    ChangeTimeSlot(),          # Move class to different time
    ChangeRoom(),               # Move class to different room
    SwapClasses(),              # Exchange time slots between two classes
    ChangeTimeSlotAndRoom(),    # Change both time and room
    FixRoomConflict(),          # Specialized: Fix room conflicts
    FixLecturerConflict(),      # Specialized: Fix lecturer conflicts
    FixRoomCapacity(),          # Specialized: Fix capacity issues
    FixMaxDailyPeriods(),       # Specialized: Fix daily period violations
    FixFridayPrayerConflict(),  # Specialized: Fix Friday prayer conflicts
    FixClassTypeTime(),         # Specialized: Fix class type time mismatches
    SwapFridayWithNonFriday(),  # Specialized: Swap Friday/non-Friday classes
]

print(f"\nüîÄ Move Generators: {len(move_generators)}")
for gen in move_generators:
    print(f"   - {gen.name}")

üîÄ Move Generators: 11
   - Change Time Slot
   - Change Room
   - Swap Classes
   - Change Time Slot and Room
   - Fix Room Conflict
   - Fix Lecturer Conflict
   - Fix Room Capacity
   - Fix Max Daily Periods
   - Fix Friday Prayer Conflict
   - Fix Class Type Time
   - Swap Friday With Non Friday

## 8. Configure Simulated Annealing

Set up the Simulated Annealing algorithm with all parameters.

In [40]:
config = SAConfig(
    initial_temperature=INITIAL_TEMPERATURE,
    min_temperature=MIN_TEMPERATURE,
    cooling_rate=COOLING_RATE,
    max_iterations=MAX_ITERATIONS,
    hard_constraint_weight=10000.0,
    tabu_search_enabled=TABU_SEARCH_ENABLED,
    tabu_tenure=TABU_TENURE,
    max_tabu_list_size=1000,
    reheating_threshold=REHEATING_THRESHOLD,
    reheating_factor=REHEATING_FACTOR,
    max_reheats=MAX_REHEATS,
    enable_intensification=ENABLE_INTENSIFICATION,
    intensification_iterations=INTENSIFICATION_ITERATIONS,
    max_intensification_attempts=MAX_INTENSIFICATION_ATTEMPTS,
    clone_state=lambda s: TimetableState(
        schedule=copy.deepcopy(s.schedule),
        available_time_slots=s.available_time_slots,
        rooms=s.rooms,
        lecturers=s.lecturers,
    ),
    logging=LoggingConfig(
        enabled=True,
        level="info",
        log_interval=1000,
        output="console",
    ),
)

print(f"\n‚öôÔ∏è  SA Configuration:")
print(f"   Temperature: {config.initial_temperature} ‚Üí {config.min_temperature}")
print(f"   Cooling rate: {config.cooling_rate}")
print(f"   Max iterations: {config.max_iterations}")
print(f"   Tabu search: {config.tabu_search_enabled} (tenure={config.tabu_tenure})")
print(f"   Intensification: {config.enable_intensification}")

‚öôÔ∏è  SA Configuration:
   Temperature: 100000.0 ‚Üí 1e-07
   Cooling rate: 0.9995
   Max iterations: 100000
   Tabu search: True (tenure=500)
   Intensification: True

## 9. Run Optimization

Execute the Simulated Annealing algorithm. This may take several minutes depending on your MAX_ITERATIONS setting.

**Note**: The optimization will log progress every 1000 iterations. Watch for:
- Phase 1: Eliminating hard constraint violations
- Phase 1.5: Intensification (if hard violations remain)
- Phase 2: Optimizing soft constraints
- Reheating events (when stuck in local optima)

In [17]:
print("\n" + "=" * 60)
print("üöÄ Running Optimization...")
print("=" * 60)

sa = SimulatedAnnealing(state, all_constraints, move_generators, config)

start_time = time_python.time()
result = sa.solve()
elapsed_time = time_python.time() - start_time

print("\n" + "=" * 60)
print("‚úÖ Optimization Complete!")
print("=" * 60)

============================================================
üöÄ Running Optimization...
============================================================
[2026-01-11T02:28:43.670363] [INFO] Simulated Annealing initialized {'hard_constraints': 10, 'soft_constraints': 8, 'move_generators': 11, 'config': {'initial_temperature': 100000.0, 'min_temperature': 1e-07, 'cooling_rate': 0.9995, 'max_iterations': 100000}}
[2026-01-11T02:28:43.670492] [INFO] Starting optimization...
[2026-01-11T02:28:43.670511] [INFO] Phase 1: Eliminating hard constraint violations
[2026-01-11T02:28:43.694877] [INFO] Initial state {'fitness': '18795.81', 'hard_violations': 8}
[2026-01-11T02:29:42.272232] [INFO] [Phase 1] Iteration 1000: Temp = 66291.88, Hard violations = 5, Best = 5
[2026-01-11T02:31:22.828307] [INFO] [Phase 1] Iteration 3000: Temp = 29499.25, Hard violations = 4, Best = 4
[2026-01-11T02:32:14.280223] [INFO] [Phase 1] Iteration 4000: Temp = 19129.98, Hard violations = 4, Best = 4
[2026-01-11T02:33:05.055459] [INFO] [Phase 1] Iteration 5000: Temp = 12567.97, Hard violations = 2, Best = 2
[2026-01-11T02:33:32.890067] [INFO] Phase 1 complete: Hard violations = 2
[2026-01-11T02:33:32.890342] [INFO] Phase 1.5: Intensification - targeting remaining hard violations
[2026-01-11T02:33:32.890370] [INFO] [Intensification] Attempt 1/3
[2026-01-11T02:34:00.202829] [INFO] [Intensification] Iter 1000: Hard violations = 10, Best = 2
[2026-01-11T02:34:16.805859] [INFO] [Intensification] Iter 1500: Hard violations = 12, Best = 2
[2026-01-11T02:34:31.364126] [INFO] [Intensification] Attempt 2/3
[2026-01-11T02:34:56.760330] [INFO] [Intensification] Iter 1000: Hard violations = 6, Best = 2
[2026-01-11T02:35:21.263109] [INFO] [Intensification] Iter 2000: Hard violations = 8, Best = 2
[2026-01-11T02:35:21.263304] [INFO] [Intensification] Attempt 3/3
[2026-01-11T02:35:35.632842] [INFO] [Intensification] Iter 500: Hard violations = 2, Best = 2
[2026-01-11T02:36:01.723909] [INFO] [Intensification] Iter 1500: Hard violations = 6, Best = 2
[2026-01-11T02:36:15.678166] [INFO] [Intensification] Iter 2000: Hard violations = 6, Best = 2
[2026-01-11T02:36:15.678409] [WARN] [Intensification] Could not eliminate all hard violations. Remaining: 2
[2026-01-11T02:36:15.678431] [INFO] Phase 2: Optimizing soft constraints
[2026-01-11T02:36:44.582299] [INFO] [Phase 2] Iteration 9000: Temp = 8097.39, Current = 5067.37, Best = 5067.37
[2026-01-11T02:37:43.451270] [INFO] [Phase 2] Iteration 10000: Temp = 5411.04, Current = 67.73, Best = 67.61
[2026-01-11T02:38:38.374079] [INFO] [Phase 2] Iteration 11000: Temp = 3624.95, Current = 67.60, Best = 67.50
[2026-01-11T02:39:28.883657] [INFO] [Phase 2] Iteration 12000: Temp = 2410.27, Current = 68.51, Best = 67.38
[2026-01-11T02:40:22.972749] [INFO] [Phase 2] Iteration 13000: Temp = 1620.35, Current = 68.74, Best = 67.38
[2026-01-11T02:41:17.327911] [INFO] [Phase 2] Iteration 14000: Temp = 1077.39, Current = 68.57, Best = 67.38
[2026-01-11T02:41:27.526393] [INFO] [Phase 2] Reheating #1: Temperature = 1999.04, Fitness = 67.38
[2026-01-11T02:42:10.457763] [INFO] [Phase 2] Iteration 15000: Temp = 1427.01, Current = 68.53, Best = 67.38
[2026-01-11T02:43:06.743021] [INFO] [Phase 2] Iteration 16000: Temp = 955.50, Current = 69.21, Best = 67.38
[2026-01-11T02:43:42.119324] [INFO] [Phase 2] Reheating #2: Temperature = 1470.44, Fitness = 67.38
[2026-01-11T02:44:01.551558] [INFO] [Phase 2] Iteration 17000: Temp = 1284.71, Current = 69.47, Best = 67.38
[2026-01-11T02:46:03.815459] [INFO] [Phase 2] Reheating #3: Temperature = 1081.62, Fitness = 67.38
[2026-01-11T02:46:42.532681] [INFO] [Phase 2] Iteration 20000: Temp = 817.82, Current = 69.46, Best = 67.38
[2026-01-11T02:47:37.295958] [INFO] [Phase 2] Iteration 21000: Temp = 559.22, Current = 69.64, Best = 67.38
[2026-01-11T02:49:25.340718] [INFO] [Phase 2] Iteration 23000: Temp = 261.61, Current = 69.52, Best = 67.38
[2026-01-11T02:50:18.122026] [INFO] [Phase 2] Iteration 24000: Temp = 176.14, Current = 69.45, Best = 67.38
[2026-01-11T02:51:10.199110] [INFO] [Phase 2] Iteration 25000: Temp = 122.14, Current = 69.65, Best = 67.38
[2026-01-11T02:52:02.510938] [INFO] [Phase 2] Iteration 26000: Temp = 84.32, Current = 67.83, Best = 67.38
[2026-01-11T02:54:39.801817] [INFO] [Phase 2] Iteration 29000: Temp = 26.86, Current = 69.36, Best = 67.38
[2026-01-11T02:55:34.023977] [INFO] [Phase 2] Iteration 30000: Temp = 18.33, Current = 68.48, Best = 67.38
[2026-01-11T02:58:18.192579] [INFO] [Phase 2] Iteration 33000: Temp = 5.92, Current = 69.09, Best = 67.38
[2026-01-11T02:59:13.550406] [INFO] [Phase 2] Iteration 34000: Temp = 4.04, Current = 69.44, Best = 67.38
[2026-01-11T03:00:05.176339] [INFO] [Phase 2] Iteration 35000: Temp = 2.78, Current = 67.70, Best = 67.38
[2026-01-11T03:01:00.238743] [INFO] [Phase 2] Iteration 36000: Temp = 1.89, Current = 69.24, Best = 67.38
[2026-01-11T03:01:53.500571] [INFO] [Phase 2] Iteration 37000: Temp = 1.30, Current = 69.59, Best = 67.38
[2026-01-11T03:02:45.930008] [INFO] [Phase 2] Iteration 38000: Temp = 0.88, Current = 69.30, Best = 67.38
[2026-01-11T03:03:38.048247] [INFO] [Phase 2] Iteration 39000: Temp = 0.62, Current = 69.43, Best = 67.38
[2026-01-11T03:04:33.724327] [INFO] [Phase 2] Iteration 40000: Temp = 0.42, Current = 69.69, Best = 67.38
[2026-01-11T03:05:27.362287] [INFO] [Phase 2] Iteration 41000: Temp = 0.29, Current = 69.43, Best = 67.38
[2026-01-11T03:06:20.167163] [INFO] [Phase 2] Iteration 42000: Temp = 0.20, Current = 69.50, Best = 67.38
[2026-01-11T03:07:14.237437] [INFO] [Phase 2] Iteration 43000: Temp = 0.14, Current = 69.52, Best = 67.38
[2026-01-11T03:08:09.900680] [INFO] [Phase 2] Iteration 44000: Temp = 0.09, Current = 69.68, Best = 67.38
[2026-01-11T03:08:59.184112] [INFO] [Phase 2] Iteration 45000: Temp = 0.06, Current = 69.67, Best = 67.38
[2026-01-11T03:11:37.823988] [INFO] [Phase 2] Iteration 48000: Temp = 0.02, Current = 69.36, Best = 67.38
[2026-01-11T03:12:34.495304] [INFO] [Phase 2] Iteration 49000: Temp = 0.01, Current = 69.25, Best = 67.38
[2026-01-11T03:15:13.681522] [INFO] [Phase 2] Iteration 52000: Temp = 0.00, Current = 68.76, Best = 67.38
[2026-01-11T03:16:09.146049] [INFO] [Phase 2] Iteration 53000: Temp = 0.00, Current = 68.20, Best = 67.38
[2026-01-11T03:17:03.201781] [INFO] [Phase 2] Iteration 54000: Temp = 0.00, Current = 67.96, Best = 67.38
[2026-01-11T03:17:56.225673] [INFO] [Phase 2] Iteration 55000: Temp = 0.00, Current = 67.83, Best = 67.38
[2026-01-11T03:18:53.451980] [INFO] [Phase 2] Iteration 56000: Temp = 0.00, Current = 67.38, Best = 67.38
[2026-01-11T03:19:49.117919] [INFO] [Phase 2] Iteration 57000: Temp = 0.00, Current = 67.20, Best = 67.20
[2026-01-11T03:22:28.313115] [INFO] [Phase 2] Iteration 60000: Temp = 0.00, Current = 66.78, Best = 66.78
[2026-01-11T03:23:20.528098] [INFO] [Phase 2] Iteration 61000: Temp = 0.00, Current = 66.55, Best = 66.55
[2026-01-11T03:24:14.749062] [INFO] [Phase 2] Iteration 62000: Temp = 0.00, Current = 66.49, Best = 66.49
[2026-01-11T03:25:59.849950] [INFO] [Phase 2] Iteration 64000: Temp = 0.00, Current = 66.35, Best = 66.35
[2026-01-11T03:26:55.104920] [INFO] [Phase 2] Iteration 65000: Temp = 0.00, Current = 66.23, Best = 66.23
[2026-01-11T03:27:51.047665] [INFO] [Phase 2] Iteration 66000: Temp = 0.00, Current = 65.95, Best = 65.95
[2026-01-11T03:28:44.598789] [INFO] [Phase 2] Iteration 67000: Temp = 0.00, Current = 65.57, Best = 65.57
[2026-01-11T03:30:32.450738] [INFO] [Phase 2] Iteration 69000: Temp = 0.00, Current = 64.73, Best = 64.73
[2026-01-11T03:31:26.588019] [INFO] [Phase 2] Iteration 70000: Temp = 0.00, Current = 64.59, Best = 64.59
[2026-01-11T03:33:13.029962] [INFO] [Phase 2] Iteration 72000: Temp = 0.00, Current = 64.36, Best = 64.36
[2026-01-11T03:34:05.921134] [INFO] [Phase 2] Iteration 73000: Temp = 0.00, Current = 64.36, Best = 64.36
[2026-01-11T03:35:00.811572] [INFO] [Phase 2] Iteration 74000: Temp = 0.00, Current = 63.86, Best = 63.86
[2026-01-11T03:38:36.780255] [INFO] [Phase 2] Iteration 78000: Temp = 0.00, Current = 61.58, Best = 61.58
[2026-01-11T03:39:27.885324] [INFO] [Phase 2] Iteration 79000: Temp = 0.00, Current = 61.58, Best = 61.58
[2026-01-11T03:41:14.462326] [INFO] [Phase 2] Iteration 81000: Temp = 0.00, Current = 61.57, Best = 61.57
[2026-01-11T03:41:33.321956] [INFO] Optimization complete {'iterations': 81348, 'reheats': 3, 'final_temperature': '0.0000', 'fitness': '61.57', 'hard_violations': 0, 'soft_violations': 129}
[2026-01-11T03:41:33.322173] [INFO] Operator Statistics:
[2026-01-11T03:41:33.322198] [INFO]   Change Time Slot: Attempts = 15486, Improvements = 1012, Accepted = 8080, Success Rate = 6.53%
[2026-01-11T03:41:33.322213] [INFO]   Change Room: Attempts = 11152, Improvements = 6, Accepted = 9912, Success Rate = 0.05%
[2026-01-11T03:41:33.322227] [INFO]   Swap Classes: Attempts = 15717, Improvements = 127, Accepted = 4494, Success Rate = 0.81%
[2026-01-11T03:41:33.322239] [INFO]   Change Time Slot and Room: Attempts = 18140, Improvements = 1450, Accepted = 8148, Success Rate = 7.99%
[2026-01-11T03:41:33.322253] [INFO]   Fix Room Conflict: Attempts = 671, Improvements = 8, Accepted = 283, Success Rate = 1.19%
[2026-01-11T03:41:33.322265] [INFO]   Fix Lecturer Conflict: Attempts = 117, Improvements = 11, Accepted = 110, Success Rate = 9.40%
[2026-01-11T03:41:33.322277] [INFO]   Fix Room Capacity: Attempts = 2, Improvements = 2, Accepted = 2, Success Rate = 100.00%
[2026-01-11T03:41:33.322290] [INFO]   Fix Max Daily Periods: Attempts = 0, Improvements = 0, Accepted = 0, Success Rate = 0.00%
[2026-01-11T03:41:33.322304] [INFO]   Fix Friday Prayer Conflict: Attempts = 1043, Improvements = 57, Accepted = 64, Success Rate = 5.47%
[2026-01-11T03:41:33.322337] [INFO]   Fix Class Type Time: Attempts = 1, Improvements = 1, Accepted = 1, Success Rate = 100.00%
[2026-01-11T03:41:33.322357] [INFO]   Swap Friday With Non Friday: Attempts = 0, Improvements = 0, Accepted = 0, Success Rate = 0.00%

============================================================
‚úÖ Optimization Complete!
============================================================

## 10. Display Results

Analyze the optimization results including fitness, violations, and operator statistics.

In [18]:
print(f"\nüìä Results:")
print(f"   Final fitness: {result['fitness']:.4f}")
print(f"   Hard violations: {result['hard_violations']}")
print(f"   Soft violations: {result['soft_violations']}")
print(f"   Iterations: {result['iterations']}")
print(f"   Reheats: {result.get('reheats', 0)}")
print(f"   Execution time: {elapsed_time:.2f} seconds ({elapsed_time/60:.2f} minutes)")

# Operator statistics
print(f"\nüîß Operator Statistics:")
df_stats = pd.DataFrame(result['operator_stats']).T
df_stats.columns = ['Attempts', 'Improvements', 'Accepted', 'Success Rate']
df_stats['Success Rate'] = df_stats['Success Rate'].apply(lambda x: f"{x*100:.2f}%")
display(df_stats.sort_values('Attempts', ascending=False).style.hide(axis='index'))

# Constraint violations
print(f"\nüìã Constraint Violations:")
violations_summary = {}
for constraint in all_constraints:
    violations = constraint.get_violations(result['state'])
    if violations:
        violations_summary[constraint.name] = len(violations)

if violations_summary:
    df_violations = pd.DataFrame(list(violations_summary.items()),
                                  columns=['Constraint', 'Violations'])
    display(df_violations.sort_values('Violations', ascending=False).style.hide(axis='index'))
else:
    print("   No violations! Perfect schedule! üéâ")

üìä Results:
   Final fitness: 61.5674
   Hard violations: 0
   Soft violations: 129
   Iterations: 81348
   Reheats: 3
   Execution time: 4369.65 seconds (72.83 minutes)

üîß Operator Statistics:

üìã Constraint Violations:

## 11. Save Results to JSON

Export the final schedule to a JSON file for further analysis or integration.

In [21]:
final_state = result['state']

# Create flattened version for display and nested version for export
schedule_result_flat = []
schedule_result_nested = []

for entry in final_state.schedule:
    end_time, prayer_time_added = calculate_end_time(
        entry.time_slot.start_time, entry.sks, entry.time_slot.day
    )
    is_overflow = not entry.needs_lab and 'lab' in entry.room.lower()

    # Flattened version for display
    schedule_result_flat.append({
        "classId": entry.class_id,
        "className": entry.class_name,
        "class": entry.kelas,
        "prodi": entry.prodi,
        "lecturers": entry.lecturers,
        "room": entry.room,
        "day": entry.time_slot.day,
        "period": entry.time_slot.period,
        "startTime": entry.time_slot.start_time,
        "endTime": entry.time_slot.end_time,
        "sks": entry.sks,
        "needsLab": entry.needs_lab,
        "participants": entry.participants,
        "classType": entry.class_type,
        "prayerTimeAdded": prayer_time_added,
        "isOverflowToLab": is_overflow,
    })
    
    # Nested version for JSON export (matches TypeScript format)
    schedule_result_nested.append({
        "classId": entry.class_id,
        "className": entry.class_name,
        "class": entry.kelas,
        "prodi": entry.prodi,
        "lecturers": entry.lecturers,
        "room": entry.room,
        "timeSlot": {
            "period": entry.time_slot.period,
            "day": entry.time_slot.day,
            "startTime": entry.time_slot.start_time,
            "endTime": entry.time_slot.end_time,
        },
        "sks": entry.sks,
        "needsLab": entry.needs_lab,
        "participants": entry.participants,
        "classType": entry.class_type,
        "prayerTimeAdded": prayer_time_added,
        "isOverflowToLab": is_overflow,
    })

final_result = {
    "fitness": result['fitness'],
    "hardViolations": result['hard_violations'],
    "softViolations": result['soft_violations'],
    "iterations": result['iterations'],
    "schedule": schedule_result_nested,
}

OUTPUT_PATH = "/home/emmanuelabayor/projects/timetable-sa/python/timetable-result.json"
with open(OUTPUT_PATH, 'w') as f:
    json.dump(final_result, f, indent=2, ensure_ascii=False)

print(f"\nüíæ Results saved to: {OUTPUT_PATH}")
print(f"   Schedule entries: {len(schedule_result_nested)}")

üíæ Results saved to: /home/emmanuelabayor/projects/timetable-sa/python/timetable-result.json
   Schedule entries: 356

## 12. Sample Schedule Display

Display the generated schedule in a readable format.

In [30]:
# Create DataFrame from schedule (using flattened version from previous cell)
df_schedule = pd.DataFrame(schedule_result_flat)

# Display first 10 entries
print(f"\nüìÖ Sample Schedule (first 10 entries):")
display_cols = ['classId', 'className', 'class', 'day', 'startTime', 'endTime', 'room', 'lecturers']
df_display = df_schedule[display_cols].head(10)
display(df_display.style.hide(axis='index'))

# Display schedule grouped by day
print(f"\nüìÖ Schedule by Day:")
for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]:
    day_schedule = df_schedule[df_schedule['day'] == day].sort_values('startTime')
    if len(day_schedule) > 0:
        print(f"\n### {day} ({len(day_schedule)} classes)")
        display_cols = ['startTime', 'endTime', 'classId', 'className', 'room']
        display(day_schedule[display_cols].head(10).style.hide(axis='index'))

üìÖ Sample Schedule (first 10 entries):

üìÖ Schedule by Day:

### Monday (73 classes)

### Tuesday (75 classes)

### Wednesday (74 classes)

### Thursday (82 classes)

### Friday (47 classes)

### Saturday (5 classes)

## 13. Visualization by Class (Kelas)

This section displays the complete schedule for each class (Kelas). Each class gets its own "card" showing:

- **Class name**: The class identifier (e.g., IF-1, IF-2, IF-3)
- **Program (Prodi)**: The academic program
- **Total classes**: Number of scheduled courses
- **Schedule table**: Complete weekly schedule with day, time, course, room, and lecturer

**Note**: Combined classes (e.g., "IF-1A, IF-3B") are automatically split into separate cards for each class.

In [31]:
# Import HTML display for card visualization
from IPython.display import HTML, display

# Function to extract individual classes from combined class strings
def expand_classes(class_str):
    """Expand combined class names like 'IF-1A, IF-3B' into individual classes."""
    classes = [c.strip() for c in str(class_str).split(',')]
    return classes

# Create expanded DataFrame with one row per class
expanded_rows = []
for _, row in df_schedule.iterrows():
    classes = expand_classes(row['class'])
    for cls in classes:
        expanded_rows.append({
            'class': cls,
            'classId': row['classId'],
            'className': row['className'],
            'prodi': row['prodi'],
            'day': row['day'],
            'startTime': row['startTime'],
            'endTime': row['endTime'],
            'room': row['room'],
            'sks': row['sks'],
            'lecturers': row['lecturers']
        })

df_by_class = pd.DataFrame(expanded_rows)

# Get unique classes sorted
unique_classes = sorted(df_by_class['class'].unique())

print(f"\nüìö Schedule by Class ({len(unique_classes)} classes):")
print(f"   Showing first 10 classes (scroll to see more)")

# Display function for class schedule card
def display_class_schedule(class_name):
    """Display a formatted schedule card for a specific class."""
    class_data = df_by_class[df_by_class['class'] == class_name].sort_values(['day', 'startTime'])

    if len(class_data) == 0:
        return f"<div style='border:1px solid #ddd; padding:15px; margin:10px 0; border-radius:8px;'><h3>üìö {class_name}</h3><p>No classes scheduled.</p></div>"

    # Get class info from first row
    first_row = class_data.iloc[0]
    prodi = first_row['prodi']

    html = f"""
    <div style='border:1px solid #4CAF50; padding:20px; margin:15px 0; border-radius:10px; background:linear-gradient(135deg, #f8fff8 0%, #e8f5e9 100%); box-shadow:0 4px 6px rgba(0,0,0,0.1);'>
        <h2 style='color:#2E7D32; margin-top:0;'>üìö {class_name}</h2>
        <p style='color:#666; font-style:italic;'>{prodi}</p>
        <p><strong>Total Classes:</strong> {len(class_data)}</p>
        <table style='width:100%; border-collapse:collapse; margin-top:15px;'>
            <thead>
                <tr style='background:#4CAF50; color:white;'>
                    <th style='padding:10px; text-align:left; border:1px solid #45a049;'>Day</th>
                    <th style='padding:10px; text-align:left; border:1px solid #45a049;'>Time</th>
                    <th style='padding:10px; text-align:left; border:1px solid #45a049;'>Course</th>
                    <th style='padding:10px; text-align:left; border:1px solid #45a049;'>Room</th>
                    <th style='padding:10px; text-align:left; border:1px solid #45a049;'>Lecturer</th>
                </tr>
            </thead>
            <tbody>
    """

    for _, row in class_data.iterrows():
        html += f"""
                <tr style='border-bottom:1px solid #ddd;'>
                    <td style='padding:10px; border:1px solid #ddd;'>{row['day']}</td>
                    <td style='padding:10px; border:1px solid #ddd;'>{row['startTime']} - {row['endTime']}</td>
                    <td style='padding:10px; border:1px solid #ddd;'>
                        <strong>{row['classId']}</strong><br/>
                        <small style='color:#666;'>{row['className']}</small>
                    </td>
                    <td style='padding:10px; border:1px solid #ddd;'>{row['room']}</td>
                    <td style='padding:10px; border:1px solid #ddd;'>{', '.join(row['lecturers'])}</td>
                </tr>
        """

    html += """
            </tbody>
        </table>
    </div>
    """
    return html

# Display first 10 classes
for cls in unique_classes[:10]:
    display(HTML(display_class_schedule(cls)))

if len(unique_classes) > 10:
    print(f"\n... and {len(unique_classes) - 10} more classes")

üìö Schedule by Class (65 classes):
   Showing first 10 classes (scroll to see more)

... and 55 more classes

In [ ]:
# Interactive class selector using ipywidgets
from ipywidgets import interact, Dropdown

def show_class_schedule(class_name):
    """Display schedule card for selected class."""
    display(HTML(display_class_schedule(class_name)))

print("\nüîç Select a class to view its schedule:")
interact(show_class_schedule, 
         class_name=Dropdown(
             options=sorted(unique_classes), 
             value=sorted(unique_classes)[0],
             description='Class:'
         ))

üîç Select a class to view its schedule:

interactive(children=(Dropdown(description='Class:', options=('7-SIG', 'AK-1A', 'AK-3A', 'AK-5A', 'AK-7A', 'DK‚Ä¶

## 14. Visualization by Lecturer (Dosen)

This section displays the complete teaching schedule for each lecturer. Each lecturer gets their own "card" showing:

- **Lecturer name**: The full name of the lecturer
- **Lecturer code**: The lecturer's identifier code
- **Program (Prodi)**: The academic program they belong to
- **Total Classes**: Number of courses they teach
- **Total SKS**: Sum of credit hours (Satuan Kredit Semester)
- **Schedule table**: Complete weekly schedule with day, time, course, class, room, and participants

In [33]:
# Expand by lecturer - create one row per lecturer per course
expanded_rows_lecturer = []
for _, row in df_schedule.iterrows():
    for lecturer in row['lecturers']:
        expanded_rows_lecturer.append({
            'lecturer': lecturer,
            'classId': row['classId'],
            'className': row['className'],
            'class': row['class'],
            'prodi': row['prodi'],
            'day': row['day'],
            'startTime': row['startTime'],
            'endTime': row['endTime'],
            'room': row['room'],
            'sks': row['sks'],
            'participants': row['participants']
        })

df_by_lecturer = pd.DataFrame(expanded_rows_lecturer)

# Get unique lecturers sorted
unique_lecturers = sorted(df_by_lecturer['lecturer'].unique())

# Get lecturer details from original data
lecturer_details = {l.code: l for l in lecturers}

print(f"\nüë®‚Äçüè´ Schedule by Lecturer ({len(unique_lecturers)} lecturers):")
print(f"   Showing first 10 lecturers (scroll to see more)")

# Display function for lecturer schedule card
def display_lecturer_schedule(lecturer_code):
    """Display a formatted schedule card for a specific lecturer."""
    lecturer_data = df_by_lecturer[df_by_lecturer['lecturer'] == lecturer_code].sort_values(['day', 'startTime'])

    # Get lecturer details
    details = lecturer_details.get(lecturer_code)
    if details:
        lecturer_name = details.name
        lecturer_prodi = details.prodi
    else:
        lecturer_name = lecturer_code
        lecturer_prodi = "N/A"

    if len(lecturer_data) == 0:
        return f"<div style='border:1px solid #ddd; padding:15px; margin:10px 0; border-radius:8px;'><h3>üë®‚Äçüè´ {lecturer_name}</h3><p>No classes assigned.</p></div>"

    # Calculate total SKS
    total_sks = lecturer_data['sks'].sum()

    html = f"""
    <div style='border:1px solid #2196F3; padding:20px; margin:15px 0; border-radius:10px; background:linear-gradient(135deg, #e3f2fd 0%, #bbdefb 100%); box-shadow:0 4px 6px rgba(0,0,0,0.1);'>
        <h2 style='color:#1565C0; margin-top:0;'>üë®‚Äçüè´ {lecturer_name}</h2>
        <p style='color:#666;'><strong>Code:</strong> {lecturer_code} | <strong>Program:</strong> {lecturer_prodi}</p>
        <p><strong>Total Classes:</strong> {len(lecturer_data)} | <strong>Total SKS:</strong> {total_sks}</p>
        <table style='width:100%; border-collapse:collapse; margin-top:15px;'>
            <thead>
                <tr style='background:#2196F3; color:white;'>
                    <th style='padding:10px; text-align:left; border:1px solid #1976D2;'>Day</th>
                    <th style='padding:10px; text-align:left; border:1px solid #1976D2;'>Time</th>
                    <th style='padding:10px; text-align:left; border:1px solid #1976D2;'>Course</th>
                    <th style='padding:10px; text-align:left; border:1px solid #1976D2;'>Class</th>
                    <th style='padding:10px; text-align:left; border:1px solid #1976D2;'>Room</th>
                    <th style='padding:10px; text-align:left; border:1px solid #1976D2;'>Participants</th>
                </tr>
            </thead>
            <tbody>
    """

    for _, row in lecturer_data.iterrows():
        html += f"""
                <tr style='border-bottom:1px solid #ddd;'>
                    <td style='padding:10px; border:1px solid #ddd;'>{row['day']}</td>
                    <td style='padding:10px; border:1px solid #ddd;'>{row['startTime']} - {row['endTime']}</td>
                    <td style='padding:10px; border:1px solid #ddd;'>
                        <strong>{row['classId']}</strong><br/>
                        <small style='color:#666;'>{row['className']}</small>
                    </td>
                    <td style='padding:10px; border:1px solid #ddd;'>{row['class']}</td>
                    <td style='padding:10px; border:1px solid #ddd;'>{row['room']}</td>
                    <td style='padding:10px; border:1px solid #ddd;'>{row['participants']}</td>
                </tr>
        """

    html += """
            </tbody>
        </table>
    </div>
    """
    return html

# Display first 10 lecturers
for lec in unique_lecturers[:10]:
    display(HTML(display_lecturer_schedule(lec)))

if len(unique_lecturers) > 10:
    print(f"\n... and {len(unique_lecturers) - 10} more lecturers")

üë®‚Äçüè´ Schedule by Lecturer (67 lecturers):
   Showing first 10 lecturers (scroll to see more)

... and 57 more lecturers

In [ ]:
# Interactive lecturer selector using ipywidgets
def show_lecturer_schedule(lecturer_code):
    """Display schedule card for selected lecturer."""
    display(HTML(display_lecturer_schedule(lecturer_code)))

print("\nüîç Select a lecturer to view their schedule:")
interact(show_lecturer_schedule, 
         lecturer_code=Dropdown(
             options=sorted(unique_lecturers), 
             value=sorted(unique_lecturers)[0],
             description='Lecturer:'
         ))

## 15. Summary Statistics

This section provides summary statistics about class and lecturer workloads, helping to analyze the distribution of teaching responsibilities across the institution.

In [34]:
print("\nüìä Summary Statistics:")
print("=" * 60)

# Class workload statistics
print(f"\nüìö Class Workload:")
class_workload = df_by_class.groupby('class').size().sort_values(ascending=False)
print(f"   Total unique classes: {len(class_workload)}")
print(f"   Busiest Class: {class_workload.index[0]} ({class_workload.iloc[0]} classes)")
print(f"   Least Busy Class: {class_workload.index[-1]} ({class_workload.iloc[-1]} classes)")
print(f"   Average Classes per Group: {class_workload.mean():.1f}")
print(f"   Median: {class_workload.median():.1f}")
print(f"   Std Dev: {class_workload.std():.1f}")

# Lecturer workload statistics
print(f"\nüë®‚Äçüè´ Lecturer Workload:")
lecturer_workload = df_by_lecturer.groupby('lecturer').agg({
    'classId': 'count',
    'sks': 'sum',
    'participants': 'sum'
}).rename(columns={'classId': 'num_classes', 'sks': 'total_sks', 'participants': 'total_students'})
lecturer_workload = lecturer_workload.sort_values('num_classes', ascending=False)

print(f"   Total unique lecturers: {len(lecturer_workload)}")
print(f"   Busiest Lecturer: {lecturer_workload.index[0]} ({lecturer_workload.iloc[0]['num_classes']} classes, {lecturer_workload.iloc[0]['total_sks']} SKS)")
print(f"   Average Classes per Lecturer: {lecturer_workload['num_classes'].mean():.1f}")
print(f"   Average SKS per Lecturer: {lecturer_workload['total_sks'].mean():.1f}")
print(f"   Median SKS per Lecturer: {lecturer_workload['total_sks'].median():.1f}")

# Display top 5 lecturers by workload
print(f"\nüë®‚Äçüè´ Top 5 Lecturers by Workload:")
top_lecturers = lecturer_workload.head(5)
for idx, row in top_lecturers.iterrows():
    details = lecturer_details.get(idx)
    name = details.name if details else idx
    print(f"   {idx} ({name}): {int(row['num_classes'])} classes, {int(row['total_sks'])} SKS, {int(row['total_students'])} total students")

# Day distribution
print(f"\nüìÖ Class Distribution by Day:")
day_dist = df_schedule['day'].value_counts()
for day in ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]:
    count = day_dist.get(day, 0)
    print(f"   {day}: {count} classes")

# Room utilization
print(f"\nüè† Room Utilization:")
room_util = df_schedule['room'].value_counts().head(10)
print(f"   Top 10 Most Used Rooms:")
for room, count in room_util.items():
    print(f"      {room}: {count} classes")

print("=" * 60)

üìä Summary Statistics:
============================================================

üìö Class Workload:
   Total unique classes: 65
   Busiest Class: DKV-7A (11 classes)
   Least Busy Class: SI-5B (1 classes)
   Average Classes per Group: 6.1
   Median: 6.0
   Std Dev: 2.6

üë®‚Äçüè´ Lecturer Workload:
   Total unique lecturers: 67
   Busiest Lecturer: FKH (12 classes, 32 SKS)
   Average Classes per Lecturer: 5.9
   Average SKS per Lecturer: 16.1
   Median SKS per Lecturer: 16.0

üë®‚Äçüè´ Top 5 Lecturers by Workload:
   FKH (Fara Kamila Hudy, S.T., M.T.): 12 classes, 32 SKS, 345 total students
   CWR (Citra Wahyu Rizkita, S.T., M.T.): 11 classes, 28 SKS, 382 total students
   ADF (Ardhi Dwi Firmansyah, S.Kom., M.Kom.): 10 classes, 26 SKS, 430 total students
   SII (Surya Iryana Ihsanpuro, S.T., M.T.): 10 classes, 19 SKS, 388 total students
   UAG (Dr. Eng. Ufafa Anggarini, S.Si., M.Si.): 10 classes, 24 SKS, 364 total students

üìÖ Class Distribution by Day:
   Monday: 73 classes
   Tuesday: 75 classes
   Wednesday: 74 classes
   Thursday: 82 classes
   Friday: 47 classes
   Saturday: 5 classes

üè† Room Utilization:
   Top 10 Most Used Rooms:
      B2-R1: 16 classes
      CM-Lab3: 15 classes
      B3-R2: 15 classes
      G4-R4: 15 classes
      CM-LabVirtual: 15 classes
      CM-101: 14 classes
      G4-R3: 13 classes
      G4-R1: 13 classes
      CM-203: 13 classes
      B3-R1: 12 classes
============================================================